In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
lamost = pd.read_csv('lamost_full')
lamost.head(3)

,obsid,uid,gp_id,designation,obsdate,lmjd,mjd,planid,spid,fiberid,...,tcomment,offsets,offsets_v,ra,dec,wd_subclass,teff,teff_err,logg,logg_err
0,101076,G12763484624375,2676893926929699200,J220838.58-013731.7,2011-10-24,55859,55858,F5902,1,76,...,.,0,0.0,332.160763,-1.625490,DA,-9999.00,-9999.00,-9999.000,-9999.000
1,101151,G12762587004699,2677056689010163456,J220823.66-011534.2,2011-10-24,55859,55858,F5902,1,151,...,.,0,0.0,332.098588,-1.259508,DA,24000.00,672.02,8.263,0.076
2,112211,G13351718912434,2679476512239443328,J221640.39+012741.2,2011-10-24,55859,55858,F5902,12,211,...,.,0,0.0,334.168324,1.461445,DA,17122.64,221.39,7.933,0.037

# Temperatur efektif

In [3]:
teffdata = lamost[lamost.teff != -9999]
teffdata.head(3)

,obsid,uid,gp_id,designation,obsdate,lmjd,mjd,planid,spid,fiberid,...,tcomment,offsets,offsets_v,ra,dec,wd_subclass,teff,teff_err,logg,logg_err
1,101151,G12762587004699,2677056689010163456,J220823.66-011534.2,2011-10-24,55859,55858,F5902,1,151,...,.,0,0.0,332.098588,-1.259508,DA,24000.00,672.02,8.263,0.076
2,112211,G13351718912434,2679476512239443328,J221640.39+012741.2,2011-10-24,55859,55858,F5902,12,211,...,.,0,0.0,334.168324,1.461445,DA,17122.64,221.39,7.933,0.037
3,116148,G13358737732360,2683213511743993472,J220522.86+021837.5,2011-10-24,55859,55858,F5902,16,148,...,.,0,0.0,331.345250,2.310432,DA,14070.30,215.59,8.063,0.028

In [4]:
cek = pd.read_csv('data olah.csv')
cek.rename(columns = {'Unnamed: 0':'Wavelength'}, inplace = True)
cek.head(4)

,Wavelength,3847.6904,3848.5764,3849.4626,3850.349,3851.2358,3852.1228,3853.0098,3853.897,3854.7847,...,8753.87,8755.887,8757.902,8759.919,8761.937,8763.954,8765.973,8767.991,8770.011,wd_subclass
0,FLUX101076,1.401641,-15.924921,12.17053,43.935257,13.352866,-0.958922,30.751305,17.331050,11.543040,...,2.375541,2.802274,2.760645,2.700794,-1.968332,-2.151788,-2.044691,0.724886,9.115726,DA
1,FLUX101151,0.340451,39.321850,96.95255,59.952780,49.579453,2.106772,30.853228,68.127846,38.738255,...,-1.499181,2.951365,0.953244,3.348633,2.830055,3.963409,5.828006,0.909969,6.154693,DA
2,FLUX112211,90.410576,72.741806,80.37630,81.740350,95.025150,96.718460,59.218792,91.619460,76.982025,...,9.132715,9.888907,12.262732,17.248100,11.138853,6.067856,15.165745,1.321932,0.418469,DA
3,FLUX116148,82.717730,104.292206,87.98204,97.919210,95.674380,96.730340,121.290480,92.193184,115.548490,...,7.539916,7.644939,9.686131,6.858054,9.968885,4.531775,4.523104,5.290309,5.776240,DA

In [5]:
obsid = []
for i in teffdata.obsid:
    obsid.append('FLUX'+str(i))

In [6]:
teffdata['Wavelength'] = obsid

C:\Users\pc\AppData\Local\Temp/ipykernel_13032/291990637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teffdata['Wavelength'] = obsid

In [7]:
teffdata = teffdata[['Wavelength','teff','teff_err']]
teffdata = teffdata.merge(cek, on = 'Wavelength', how = 'inner')
teffdata.head(4)

,Wavelength,teff,teff_err,3847.6904,3848.5764,3849.4626,3850.349,3851.2358,3852.1228,3853.0098,...,8753.87,8755.887,8757.902,8759.919,8761.937,8763.954,8765.973,8767.991,8770.011,wd_subclass
0,FLUX101151,24000.00,672.02,0.340451,39.321850,96.952550,59.95278,49.579453,2.106772,30.853228,...,-1.499181,2.951365,0.953244,3.348633,2.830055,3.963409,5.828006,0.909969,6.154693,DA
1,FLUX112211,17122.64,221.39,90.410576,72.741806,80.376300,81.74035,95.025150,96.718460,59.218792,...,9.132715,9.888907,12.262732,17.248100,11.138853,6.067856,15.165745,1.321932,0.418469,DA
2,FLUX116148,14070.30,215.59,82.717730,104.292206,87.982040,97.91921,95.674380,96.730340,121.290480,...,7.539916,7.644939,9.686131,6.858054,9.968885,4.531775,4.523104,5.290309,5.776240,DA
3,FLUX204159,12000.00,788.21,17.578890,9.299327,17.553558,28.54175,13.400246,14.807665,0.743970,...,15.098267,15.874637,9.597449,13.908558,1.343429,4.891062,27.843893,14.812630,17.178366,DA

In [8]:
teffdata = teffdata.drop('wd_subclass', axis=1)

In [18]:
from sklearn.model_selection import train_test_split

X = teffdata.drop(['Wavelength','teff','teff_err'], axis=1)
y = teffdata['teff']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
from sklearn.ensemble import RandomForestRegressor

rfc = RandomForestRegressor(n_estimators=100, max_depth = 100, oob_score=True, random_state = 0)
rfc.fit(X_train, y_train)

RandomForestRegressor(max_depth=100, oob_score=True, random_state=0)

In [20]:
arr_feature_importances = rfc.feature_importances_
arr_feature_names = X_train.columns.values
    
df_feature_importance = pd.DataFrame(index=range(len(arr_feature_importances)), columns=['feature', 'importance'])
df_feature_importance['feature'] = arr_feature_names
df_feature_importance['importance'] = arr_feature_importances
df_all_features = df_feature_importance.sort_values(by='importance', ascending=False)
df_all_features.head(3)

       feature  importance
279   4102.987    0.058034
1018  4864.073    0.030723
525   4342.103    0.023019

In [21]:
from sklearn.metrics import mean_absolute_error

val_pred = rfc.predict(X_test)
val_mae = mean_absolute_error(val_pred, y_test)
print("Validation MAE : {:,.9f}".format(val_mae))

Validation MAE : 4,862.001409408

In [22]:
np.mean(teffdata.teff_err)

636.8123591276426

In [23]:
np.mean(teffdata.teff)

24400.07450459426

In [26]:
4862/24400.074*100

19.926169076372474

In [27]:
636.81/24400.074*100

2.609869134003446

In [28]:
o=1